Q1: variable

In [1]:
number_of_crakers = 10
number_of_eggs = 2
number_of_water = 2
number_of_candy = 7
number_of_gum = 5

Q2: List

In [2]:
items = ["crakers", "eggs", "water", "candy", "gum"]
total = [10, 2, 2, 7, 10]

Q3: comments on code block

1. The value (35kph) attached to the variable is a string and must be enclosed in a double or single Quote.
2. The value (35kph) attached to the variable is a string and must be enclosed in a double or single Quote (or it can be seen as integer and variable)
3. Variables must not be separated with space
4. variables cannot be separated by comma.

Q4: pandas's data frame

1. Variables section

In [3]:
rowland_age = 30
rowland_marital = "single" 
rowland_children = 4

tambe_age = 27
tamble_marital = "married" 
tambe_children = 6

bitrus_age = 40
bitrus_marital = "married" 
bitrus_children = 2

kofi_age = 51
kofi_marital = "single" 
kofi_children = 7

butuwase_age = 38
butuwase_marital = "single" 
butuwase_children = 0

peter_age = 33
peter_marital = "married" 
peter_children = 3

adebo_age = 51
adebo_marital = "divorced" 
adebo_children = 9

2. List section

In [4]:
names = ["Oladimeji", "Soyebo", "Aminat", "FadilulLah", "Abdulsalaam", "Pele", "Adebo"]
age = [300, 247, 403, 531, 398, 313, 516]
course = ["Pharmacy", "pharmacy", "biology", "Arabic", "Pharmacy", "english", "art"]
children = [4, 6, 2, 7, 0, 3, 9]

3. data table

In [5]:
import pandas as pd
table = pd.DataFrame()

table["Names"] = names
table["Age"] = age
table["Course"] = course
table["Children"] = children

print(table)

         Names  Age    Course  Children
0    Oladimeji  300  Pharmacy         4
1       Soyebo  247  pharmacy         6
2       Aminat  403   biology         2
3   FadilulLah  531    Arabic         7
4  Abdulsalaam  398  Pharmacy         0
5         Pele  313   english         3
6        Adebo  516       art         9