In [ ]:
#QUESTION 1

In [ ]:
#To recreate the table.

given = {"StudentName" : ["Okeowo.Adebo_1376", "Mary.Lamu_7685", "Mambi.Kagira_6598", "Gembal.David_4274", "James.Creelman_1313"],
         "Balance $" : [2870, 1345, 900, 436, 200],
         "DisOnBal" : ["30%", "30%", "30%", "30%", "30%"]
        }
import pandas as pd
table = pd.DataFrame(given, index = [1,2,3,4,5])
table

In [ ]:
#extracting out the student names and spliting it.

Stname = []
for itm in table["StudentName"]:
    itm2 = itm.split("_")
    Stname.append(itm2)
Stname

In [ ]:
#Extracting the student ID

StnameId = []
for itm in Stname:
    itms = itm[:]
    itmId = itms[1]
    StnameId.append(itmId)
StnameId

In [ ]:
#QUESTION  2

In [ ]:
#a.Create a dataframe of the table using pandas

given2 = {
"Date" : ["13-01-2019", "16-02-2019", "16-01-2019", "21-01-2019", "12-01-2019", "01-01-2019", "30-01-2019", "24-02-2019", "02-01-2019", "01-01-2019", "03-01-2019", "24-01-2019", "25-02-2019", "13-01-2019", "11-01-2019", "17-02-2019", "26-01-2019", "02-01-2019", "29-01-2019", "23-01-2019"],
"Product ID" : ["Prd001", "Prd002", "Prd003", "Prd004", "Prd005", "Prd006","Prd007", "Prd008", "Prd009", "Prd010","Prd001", "Prd002", "Prd003", "Prd004", "Prd005", "Prd006", "Prd007", "Prd008", "Prd009", "Prd010"],
"Product Name" : ["Detergents", "Toothpaste", "Sunflower Oil", "Broom", "Bucket", "Vacuum Cleaner", "Knife", "Body Soap", "Wheat Powder", "Rice", "Detergents", "Toothpaste", "Sunflower Oil", "Broom", "Bucket", "Vacuum Cleaner", "Knife", "Body Soap", "Wheat Powder", "Rice"],
"Product Category" : ["Toiletries", "Toiletries", "Kitchen Items", "Home Care", "Home Care", "Home Care", "Kitchen Items", "Toiletries", "Kitchen Items", "Kitchen Items", "Toiletries", "Toiletries", "Kitchen Items", "Home Care", "Home Care", "Home Care", "Kitchen Items", "Toiletries", "Kitchen Items", "Kitchen Items"],
"Unit Price" : [10, 25, 85, 125, 500, 4500, 60, 40, 80, 50, 10, 25, 85, 125, 500, 4500, 60, 40, 80, 50],
"Units Sold" : [106, 51, 10, 28, 9, 4, 83, 45, 13, 3, 140, 243, 11, 19, 9, 2, 48, 49, 10, 10],
"Total Value" : [1060, 1275, 850, 3500, 4500, 18000, 4980, 1800, 1040, 150, 1400, 6075, 935, 2375, 4500, 9000, 2880, 1960, 800, 500]
      }

In [ ]:
#checking the lengths

a = len(given2["Date"])
b = len(given2["Product ID"])
c = len(given2["Product Name"])
d = len(given2["Product Category"])
e = len(given2["Unit Price"])
f = len(given2["Units Sold"])
g = len(given2["Total Value"])
print (a,b,c,d,e,f,g)

In [ ]:
#printing table

import pandas as pd
table2 = pd.DataFrame(given2)
table2

In [ ]:
#b.Using Sets, obtain the list of unique products from the dataframe

products = table2["Product Name"].values.tolist()
uniProd = set(products)
uniProd

In [ ]:
#c.Create a list of unique product categories using Sets and python Lists

productCat = table2["Product Category"].values.tolist()
uniProdCat = set(productCat)
uniProdCat

In [ ]:
#d.Using a For Loop, obtain the total value of sales for each product

products = table2["Product Name"].values
totalVal = table2["Total Value"].values

bodySoap = []
broom = []
bucket = []
detergents = []
knife = []
rice = []
sunFlower = []
toothpaste = []
vacuumCleaner = []
wheatPowder = []
 

for itm, cost in zip(products, totalVal):
    if itm == 'Body Soap':
        bodySoap.append(cost)
    elif itm == 'Broom':
        broom.append(cost)
    elif itm == 'Bucket':
        bucket.append(cost)
    elif itm == 'Detergents':
        detergents.append(cost)
    elif itm == 'Knife':
        knife.append(cost)
    elif itm == 'Rice':
        rice.append(cost)
    elif itm == 'Sunflower Oil':
        sunFlower.append(cost)
    elif itm == 'Toothpaste':
        toothpaste.append(cost)
    elif itm == 'Vacuum Cleaner':
        vacuumCleaner.append(cost)
    else:
        wheatPowder.append(cost)
        
print("The total value of sales for body soap is: ", sum(bodySoap))
print("The total value of sales for broom is: ", sum(broom))
print("The total value of sales for bucket is: ", sum(bucket))
print("The total value of sales for detergents is: ", sum(detergents))
print("The total value of sales for knife is: ", sum(knife))
print("The total value of sales for rice is: ", sum(rice))
print("The total value of sales for sun flower oil is: ", sum(sunFlower))
print("The total value of sales for toothpaste is: ", sum(vacuumCleaner))
print("The total value of sales for vacuum cleaner is: ", sum(bodySoap))
print("The total value of sales for wheat powder is: ", sum(wheatPowder))

In [ ]:
#e.Using a For Loop, compute the total values of sales for each category

productCat = table2["Product Category"].values
totalVal = table2["Total Value"].values


homeCare= []
kitchenitems = []
toiletries = []

for itm, cost in zip(productCat, totalVal):
    if itm == 'Home Care':
        homeCare.append(cost)
    elif itm == 'Kitchen Items':
        kitchenitems.append(cost)
    else:
        toiletries.append(cost)
        
print("The total value of sales for home care is: ", sum(homeCare))
print("The total value of sales for kitchen items is: ", sum(kitchenitems))
print("The total value of sales for toiletries is: ", sum(toiletries))